<div class="container-fluid min-vh-100 d-flex flex-column border justify-content-between">
  <div class="d-flex flex-column justify-content-center align-items-center flex-fill">
    <h1>Tracksaction</h1>
  </div>
  <div>
    <div>
      <%= link_to new_user_session_path, class: 'text-decoration-none' do%>
        <div class="mx-0 my-0 py-3 d-flex flex-fill btn btn-primary justify-content-center">Log in</div>
      <% end %>
    </div>
    <div>
      <%= link_to new_user_registration_path, class: 'text-decoration-none' do %>
        <div class="mx-0 my-0 py-3 d-flex flex-fill btn btn-light justify-content-center text-muted">Sign up</div>
      <% end %>
    </div>
  </div>
</div>
