<div id="<%= dom_id group %>">
  <div>
    <strong>Name:</strong>
    <%= group.name %>
  </div>
  <div>
    <strong>Icon:</strong>
    <%= group.icon %>
  </div>
  <div>
    <strong>Total TRXN for this group:</strong>
    <%= "total trxn" %>
  </div>
</div>
